@import '../../styles/variables';

.main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.sidebar-page {
  display: grid;
  grid-template-columns: minmax(350px, 15vw) 1fr;
}

.left-border {
  border-left: $default-border;
}
.right-border {
  border-right: $default-border;
}
.top-border {
  border-top: $default-border;
}
.bottom-border {
  border-bottom: $default-border;
}

.default-paddings-x {
  padding-left: 20px;
  padding-right: 20px;
}
.default-paddings-y {
  padding-top: 15px;
  padding-bottom: 15px;
}
